body{
    background-color: black;
}
#d1-board{
    margin:auto;
    position:relative;
    overflow:hidden;
    border-style:solid;
    border-color:darkorange;
    background-color:transparent}
#b1-play-button{
    left:35%;
    width:30%;
    top:70%;
    height:8%;
    font-size:48px;
    position: absolute;
    cursor: pointer;
    border-style: none;
    box-sizing: border-box;
    text-decoration:none;
    font-family:quake-font;
    border-color:transparent;
    color:#71eba0;
    border-style: solid;
    background-color: transparent;
    text-align:center;
    z-index: 1;
    transition: all 0.2s;
}
#b1-play-button:hover{
    color: greenyellow;
    border-width: 5px;
}
#b1-play-button.hide{
    opacity: 0;
    visibility: hidden;
}
#d2-board{
    width:200%;
    height:200%;
    left:-50%;
    top:-50%;
    background-size: cover;
    background-image: url("/assets/images/quake/map.png");
    position: absolute;
}
.maptile{
    width:5%;
    height:5%;
    z-index: 1;
    position: absolute;
    overflow: auto;
    background-size: cover;
}
.p2-player{
    width:3%;
    height:3%;
    z-index:3;
    background-color: rgb(77, 220, 20);
    position: absolute;
}
#p1-player{
    width:3%;
    height:3%;
    z-index:3;
    visibility: hidden;
    background-color: crimson;
    position: absolute;
}
.d3-bullet{
    z-index:2;
    position:absolute;
    border-style: solid;
    background-color: rgb(39, 240, 213);
    border-radius: 50%;
    width:0.5%;
    height:0.5%;
    border-color: rgb(255, 139, 7);
}
.d3-bullet.fadeOut{
    animation: fadeOut 0.3s;
    -webkit-animation: fadeOut 0.3s;
    -moz-animation: fadeOut 0.3s;
    -o-animation-: fadeOut 0.3s;
    -ms-animation: fadeOut 0.3s;
    animation-fill-mode: forwards;}
#d3-ammo-reload{
    width:20%;
    height:10%;
    left:40%;
    top:80%;
    position: absolute;
    z-index:5;
    visibility: hidden;
}
#t1-ammo-status{
    font-size:20px;
    font-weight: bold;
    color:greenyellow;
    text-shadow: 0 0 5px aqua;
    margin:0;
    position: absolute;
    text-align: center;
    height:30%;
    top:20%;
    width:100%;
}
.ammo-reload-bar{
    top:60%;
    width:8%;
    padding-top:4%;
    background-color: rgb(0, 255, 0);
    visibility: hidden;
    position: absolute;
}
@keyframes fadeOut {
    100%{opacity: 0;}}
@-moz-keyframes fadeOut {
    100%{opacity: 0;}}
@-webkit-keyframes fadeOut {
    100%{opacity: 0;}}
@-o-keyframes fadeOut {
    100%{opacity: 0;}}
@-ms-keyframes fadeOut {
    100%{opacity: 0;}}
@font-face {
    font-family: quake-font;
    src: url(/assets/images/quake/quake-font.ttf);
    font-weight: bold;}