body {
    background-color:black;}
#main-div {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 100%;
    position: relative;}
#shed-logo-div{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 20%;
    position: relative;}
#main-shed-logo{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 50px;
    position: relative;
    display: block;}
#shed-image-div{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 80%;
    position: absolute;}
#main-enter-button{
    background:transparent;
    border: none;
    cursor: pointer;
    top: 340px;
    left: 340px;
    width: 120px;
    height: 35px;
    outline: none;
    position: absolute;}
#shed-image-div.hide{
    animation: fadeOut 0.3s;
    -webkit-animation: fadeOut 0.3s;
    -moz-animation: fadeOut 0.3s;
    -o-animation-: fadeOut 0.3s;
    -ms-animation: fadeOut 0.3s;
    animation-fill-mode: forwards;}
#room-menu-div{
    visibility: hidden;
    opacity: 0;
    left: 150px;
    top: 200px;
    width: 500px;
    height: 400px;
    z-index: -1;
    position: absolute;}
#room-menu-div.show{
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation-: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;
    animation-fill-mode: forwards;}

#play-2048-button{
    background-color: #9400bd;
    border-color: darkblue;
    top:20px;
}

#play-2048-button:hover{
    background-color:purple}

#play-minesweeper-button{
    background-color: #22bf44;
    border-color: darkblue;
}

#play-clash-quest-button{
    background-color: #ffe817;
    border-color: darkblue;
    top: 40px;
}

.play-games-buttons{
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 22px;
    left: 50px;
    width: 400px;
    height: 60px;
    outline: none;
    position: relative;
}

#play-clash-quest-button:hover{
    background-color: rgb(187, 170, 14);
}

#play-quake-button{
    background-color: #f57d46;
    border-color: darkblue;
    top:60px;
}

#play-quake-button:hover{
    background-color: tomato;
}

#play-minesweeper-button:hover{
    background-color:#147529}

#play-quake-patchnotes{
    position: absolute;
    color:rgb(0, 247, 255);
    background-color: transparent;
    border:none;
    cursor: pointer;
    left:460px;
    top:20px;
}
#play-quake-patchnotes:hover{
    background-color: rgba(181, 238, 75, 0.137);
}
p{
    color:rgb(255, 135, 36);
}
h3{
    color:red;
}
#patchnotes{
    visibility: hidden;
    left: 150px;
    z-index:10;
    top: 200px;
    width: 500px;
    height: 400px;
    position: absolute;
}

/*Key frame functions */

@keyframes fadeOut {
    100%{opacity: 0;}}
@-moz-keyframes fadeOut {
    100%{opacity: 0;}}
@-webkit-keyframes fadeOut {
    100%{opacity: 0;}}
@-o-keyframes fadeOut {
    100%{opacity: 0;}}
@-ms-keyframes fadeOut {
    100%{opacity: 0;}}
@keyframes fadeIn {
    100%{opacity: 1;}}
@-moz-keyframes fadeIn {
    100%{opacity: 1;}}
@-webkit-keyframes fadeIn {
    100%{opacity: 1;}}
@-o-keyframes fadeIn {
    100%{opacity: 1;}}
@-ms-keyframes fadeIn {
    100%{opacity: 1;}}


